# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
venv/
.venv/
env/
.env.local

# Database
database.db
*.db
*.sqlite3

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
